
<!-- header -->
<header class="header">
	<div class="header-top-panel">
		<div class="inner-wrap">
			<div class="location-wrap">
				<a href="" class="btn-action-text">
					<span class="elm-ico">
						<img src="./img/icons/location.svg" alt="">
					</span>
					<span class="button-title">Санкт-Петербург</span>
				</a>
				<div class="location-popup-wrap">
					<div class="popup-title">Ваш город Москва?</div>
					<div class="popup-buttons">
						<a href="" class="btn">Да, верно</a>
						<a href="" class="btn button-border">Нет, другой</a>
					</div>
				</div>
			</div>
			<div class="menu-wrap">
				<ul>
					<li><a href="">Доставка и оплата</a></li>
					<li><a href="">Сервис</a></li>
					<li><a href="">Контакты</a></li>
					<li class="submenu">
						<a href="">Еще</a>
						<ul>
							<li><a href="">Кредит и страхование</a></li>
							<li><a href="">Гарантии</a></li>
							<li><a href="">О компании</a></li>
							<li><a href="">Отзывы о нас</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="address-wrap">г. Санкт-Петербург, Кирочная 9, БЦ Арсенал</div>
			<div class="phone-wrap">
				<a href="tel:88126402922" class="phone-number">+7(812) 640-29-22</a>
			</div>
		</div>
	</div>
	<div class="header-main-panel">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="phone-wrap">
				<a href="tel:88126402922" class="btn-action-ico ico-phone"></a>
			</div>
			<div class="main-catalog-wrap catalog-wrap js-popup-wrap">
				<a href="" class="btn btn-catalog js-btn-toggle">
					<span class="button-title">Каталог</span>
				</a>
				<div class="catalog-block js-popup-block">
					333333
				</div>
			</div>
			<div class="search-wrap">
				<form action="/" class="frm-main-search">
					<input type="text" placeholder="Более 3000 товаров" class="form-input">
					<button type="submit" class="btn-action-ico ico-search"></button>
				</form>
			</div>
			<div class="actions-wrap">
				<div class="action-wrap">
					<a href="" class="btn-header">
						<span class="btn-action-ico ico-user"></span>
						<span class="button-title">Константин</span>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-header">
						<span class="btn-action-ico ico-favorites"></span>
						<span class="button-title">Избранное</span>
						<span class="elm-count">4</span>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-header">
						<span class="btn-action-ico ico-compare"></span>
						<span class="button-title">Сравнение</span>
						<span class="elm-count">4</span>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-header">
						<span class="btn-action-ico ico-cart"></span>
						<span class="button-title">Корзина</span>
						<span class="elm-count">4</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->